<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ site_title }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'assets/css/*.css' filter='cssrewrite, yui_css' output="static/css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% stylesheets 'assets/js/*.js' filter='yui_js' output="static/js" %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </body>
</html>
